@use "../../Utils/mixins" as *;
@use "../../Utils/colors" as color;

.labelStyle {
    @include bodySmall;
    color: color.$primary_txt;
}

.mandatoryStyle {
    color: color.$error;
    transform: translateY(-2px);
}

.errorStyle {
    @include bodySmall;
    color: color.$error;
}