// accent colors
$accent_50 : #F2F9FC;
$accent_100 : #D5EBF4;
$accent_200 : #C1E2EF;
$accent_300 : #A5D5E8;
$accent_400 : #93CDE4;
$accent_500 : #78C0DD;
$accent_600 : #6DAFC9;
$accent_700 : #55889D;
$accent_800 : #426A7A;
$accent_900 : #32515D;

// secondary colors
$secondary_50 : #E6E7F0;
$secondary_100 : #B0B6D2;
$secondary_200 : #8A92BC;
$secondary_300 : #54609D;
$secondary_400 : #33418A;
$secondary_500 : #00126D;
$secondary_600 : #001063;
$secondary_700 : #000D4D;
$secondary_800 : #000A3C;
$secondary_900 : #00082E;

$black_clr : #000000;
$white_clr : #FFFFFF;

$primary_clr : #FFFFFF;
$secondary_clr : #00126D;
$accent_clr : #FF7518;

$primary_txt : #212121;
$secondary_txt: #4D4D4D;

$disableBg: #F7F7F7;
$disableTxt: #E9E9E9;

$success : #198754;
$error : #EA0101;
$warning : #FF9900;