// Primary colors
$primary_50 : #E6F3F3;
$primary_100 : #B0DADB;
$primary_200 : #8AC8C9;
$primary_300 : #54AFB1;
$primary_400 : #33A0A1;
$primary_500 : #00888A;
$primary_600 : #007C7E;
$primary_700 : #006162;
$primary_800 : #004B4C;
$primary_900 : #00393A;

// secondary colors
$secondary_50 : #FFF8ED;
$secondary_100 : #FFE9C8;
$secondary_200 : #FFDEAD;
$secondary_300 : #FFCF88;
$secondary_400 : #FFC571;
$secondary_500 : #FFB74D;
$secondary_600 : #E8A746;
$secondary_700 : #B58237;
$secondary_800 : #8C652A;
$secondary_900 : #6B4D20;

// primary text colors
$primary_txt_50 : #E9E9E9;
$primary_txt_100 : #BABABA;
$primary_txt_200 : #989898;
$primary_txt_300 : #696969;
$primary_txt_400 : #4C4C4C;
$primary_txt_600 : #1C1C1C;
$primary_txt_700 : #161616;
$primary_txt_800 : #111111;
$primary_txt_900 : #0D0D0D;

$black_clr : #000000;
$white_clr : #FFFFFF;

$primary_txt : #1F1F1F;
$secondary_txt: #6B6B6B;

$bg_primary : #F4F4F4;
$bg_secondary : #F6F6F6;

$disable_primary_txt : #EBEBEB;
$disable_secondary_txt : #BDBDBD;

$success : #04B34F;
$error : #FF0000;
$warning : #FF9900;
$duplicate : #F7F1DF