@font-face {
    font-family: 'urbanist-bold';
    src: url('../Assets/Fonts/Urbanist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../Assets/Fonts/Urbanist-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../Assets/Fonts/Urbanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'urbanist-regular';
    src: url('../Assets/Fonts/Urbanist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}