@mixin hOne {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}

@mixin hTwo {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}

@mixin hThree {
    font-size: 28px;
    line-height: 36px;
    font-weight: 500;
}

@mixin hFour {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

@mixin hFive {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

@mixin hSix {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

@mixin label {
    font-size: 12px;
    line-height: auto;
    font-weight: 400;
}

@mixin tBodyLarge {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

@mixin tBodyMedium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

@mixin tBodySmall {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

@mixin hSmall {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

@mixin bMedium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}